  .ios,
.md {
  page-login {
    ion-input,
    ion-select,
    ion-textarea {
      background-color: #f2f2f2;
      padding: 0 5px;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }
  }
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
.item-md.item-input.input-has-focus .item-inner,
.list-md .item-input.input-has-focus:last-child,
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
  border-bottom: 0;
  box-shadow: none;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus) {
  &:last-child,
  .item-inner .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    border-bottom: 0;
    box-shadow: none;
  }
}
