page-home {
  .with-bg-image {
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
  }

  .list-ios {
    margin: -1px 0;
  }

  .list-md {
    margin: -1px 0;
  }
}
